<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container mt-3">
      <div class="jumbotron">
       <h1>Bienvenido a la pagina de inicio</h1>
      </div>
    </div>
  </body>
</html>